/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */

body{
    font-family:Arial, sans-serif;
    background-image:url("1.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

/* Header */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:rgba(0,0,0,0.65);
}

/* Logo */

.logo h2{
    color:white;
    font-size:30px;
}

/* Navigation */

nav a{
    text-decoration:none;
    color:white;
    margin-left:30px;
    font-size:18px;
}

nav a:hover{
    color:#00e5ff;
}

/* Hero Section */

.hero{
    height:85vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    background:rgba(0,0,0,0.45);
}

.hero h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero p{
    width:650px;
    font-size:20px;
    line-height:1.6;
    margin-bottom:30px;
}

/* Buttons */

button{
    padding:12px 25px;
    background:#00c8ff;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#0095cc;
}

/* Content Section */

.content{
    width:80%;
    margin:auto;
    padding:60px 0;
    color:white;
}

.content h1{
    text-align:center;
    margin-bottom:30px;
}

.contactpage{
    width:80%;
    margin:auto;
    padding:60px 0;
    color:rgb(0, 0, 0);
}

.contactpage h1{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

/* Cards */

.card{
    background:white;
    color:black;
    padding:20px;
    border-radius:8px;
    margin-bottom:20px;
}

.card h2{
    color:#00bfff;
    margin-bottom:10px;
}

.card p{
    line-height:1.6;
}

/* Form */

form{
    background:white;
    width:450px;
    margin:auto;
    padding:25px;
    border-radius:8px;
}

label{
    font-weight:bold;
}

input,
select,
textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:20px;
    border:1px solid gray;
    border-radius:5px;
}

/* Footer */

footer{
    background:rgba(0,0,0,0.80);
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}
